/* =============================================================== */
/* ==================== GENERAL CUSTOMIZATION ==================== */
/* =============================================================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;1,600&family=Source+Code+Pro:wght@200;600&display=swap');
/* =============================================================== */
/* ==================== GENERAL CUSTOMIZATION ==================== */
/* =============================================================== */

a {
    text-decoration: none;
    color: #238383;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #080816;
    text-decoration: underline;
}
body {
    margin: 0!important;
    font-family: 'Source Code Pro', monospace;
    background-color: #fff;
    width: 100%!important;
}

html {
    scroll-behavior: smooth;
  }

/* ============================================================= */
/* =================== WELCOME SCREEN BEGINS =================== */
/* ============================================================= */
.welcome_div {
    background-attachment: fixed;
    background-image: url('./../public/images/welcome.jpg');
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.title {
    margin: auto;
    color: #238383;
    opacity: 0.7;
    text-align: center;
}

.title h1 {
    font-size: 5rem;
}
.h2_container {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
}

.h2_welcome {
    position: relative;
    width: fit-content;
    font-size: 2.5rem;
    text-align: center;
}

.h2_welcome::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    animation: blink 1s infinite;
    background-color: #FF531B;
    height: 3rem;
    width: 1.5rem;
}

#home > div > div > div:nth-child(1) {
    text-align: right;
    font-size: 1.5rem;
}

#home > div > div > div:nth-child(1) > h2{
    margin: 0;
}

#home > div > div > div:nth-child(2){
    animation: blink 1s infinite;
    background-color: #FF531B;
    float: right;
    height: 3rem;
    width: 1.5rem;
}

@keyframes blink {
    50% {
    opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ============================================================= */
/* ==================== WELCOME SCREEN ENDS ==================== */
/* ============================================================= */



/* ============================================================= */
/* ==================== ABOUT SCREEN BEGINS ==================== */
/* ============================================================= */

.about {
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.star {
    float: left;
    animation: myOrbit1 100s infinite;
    background-color: #238383;
    border-radius: 25px;
    height: 15px;
    left: -10%;
    margin: none;
    opacity: 0;
    padding: none;
    position: relative;
    transform: translate(400px,400px);
    transition: all 1s;
    width: 15px;
    z-index: 0;
}
.star:nth-child(2) {
    animation: myOrbit 150s infinite;
    animation-delay: 20s;
    background-color: #080816;
    left: 30%;
    top: 80vh;
}
.star:nth-child(3) {
    animation: myOrbit1 200s infinite;
    animation-delay: 10s;
    background-color: #FF531B;
    left: 70%;
    top: 30vh;
}
.star:nth-child(4) {
    animation: myOrbit 250s infinite;
    animation-delay: 30s;
    background-color: #238383;
    left: -10%;
    top:500px;
}
.star:nth-child(5) {
    animation: myOrbit1 100s infinite;
    animation-delay: 10s;
    background-color: #080815;
    left: 10%;
    top: 50vh;
}
.star:nth-child(6) {
    animation: myOrbit 150s infinite;
    animation-delay: 20s;
    background-color: #FF531B;
    left: 80%;
    top: 10vh;
}
.star:nth-child(7) {
    animation: myOrbit1 200s infinite;
    animation-delay: 5s;
    background-color: #238383;
    left: 90%;
    top: 90vh;
}
.star:nth-child(8) {
    animation: myOrbit 250s infinite;
    animation-delay: 15s;
    background-color: #080815;
    left: 60%;
    top: 40vh;
}
.star:nth-child(9) {
    animation: myOrbit1 100s infinite;
    animation-delay: 30s;
    background-color: #FF531B;
    left: 20%;
    top: 10vh;
}
.star:nth-child(10) {
    animation: myOrbit 150s infinite;
    background-color: #238383;
    left: 50%;
    top: 60vh;
}
.star:nth-child(11) {
    animation: myOrbit1 200s infinite;
    animation-delay: 7s;
    background-color: #FF531B;
    left: 16%;
    top: 5vh;
}
.star:nth-child(12) {
    animation: myOrbit 150s infinite;
    background-color: #238383;
    left: 27%;
    top: 95vh;
}.star:nth-child(13) {
    animation: myOrbit1 100s infinite;
    animation-delay: 3s;
    background-color: #FF531B;
    left: 85%;
    top: 20vh;
}
.star:nth-child(14) {
    animation: myOrbit 250s infinite;
    background-color: #238383;
    left: 40%;
    top: 65vh;
}.star:nth-child(15) {
    animation: myOrbit1 100s infinite;
    animation-delay: 16s;
    background-color: #FF531B;
    left: 65%;
    top: 100vh;
}
.star:nth-child(16) {
    animation: myOrbit 150s infinite;
    background-color: #238383;
    left: 32%;
    top: 15vh;
}.star:nth-child(17) {
    animation: myOrbit1 200s infinite;
    animation-delay: 25s;
    background-color: #FF531B;
    left: 95%;
    top: 40vh;
}
.star:nth-child(18) {
    animation: myOrbit 250s infinite;
    background-color: #238383;
    left: 72%;
    top: 85vh;
}
.star:nth-child(19) {
    animation: myOrbit1 150s infinite;
    animation-delay: 12s;
    background-color: #FF531B;
    left: 35%;
    top: 5vh;
}
.star:nth-child(20) {
    animation: myOrbit 100s infinite;
    background-color: #238383;
    left: 15%;
    top: 77vh;
}
@keyframes myOrbit {
    10% {opacity: 0.5}
    25% { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    50% { transform: rotate(700deg) translateX(-50px) rotate(700deg); }
    75% { transform: rotate(900deg) translateX(300px) rotate(-900deg); }
    100% {opacity: 0;}
}
@keyframes myOrbit1 {
    10% {opacity: 0.5}
    25% { transform: rotate(900deg) translateX(300px) rotate(-900deg); } 
    50% { transform: rotate(700deg) translateX(-400px) rotate(700deg); }
    75% { transform: rotate(0deg) translateX(250px) rotate(0deg); }
    100% {opacity: 0;}
}
.description,
.skills {
    color: #238383;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    width: 50%;
}

.description {
    border-top: #FF531B 1px dashed;
    border-left: #FF531B 1px dashed;
    left: 0%;
    text-align: left;
    margin-left: 5rem;
    margin-top: 10rem;
    padding: 2rem 0 0 2rem;
}

.skills {
    border-bottom: #FF531B 1px dashed;
    border-right: #FF531B 1px dashed;
    margin: 5rem 0 17rem 5rem;
    padding: 0 2rem 2rem 0;
    right: -30%;
    text-align: right;
}

.trim_top {
    position: absolute;
    top: 3rem;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 2px;
    width: 100%;
}

.trim_bottom {
    position: absolute;
    bottom: 3rem;
    right: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 2px;
    width: 100%;
}

.trim_block:nth-child(odd) {
    background-color: #FF531B;
}
.trim_block:nth-child(even) {
    background-color: #080815;
}

.trim_white {
    background-color: #fff;
}
/* ============================================================= */
/* ===================== ABOUT SCREEN ENDS ===================== */
/* ============================================================= */




/* ============================================================= */
/* ====================== PORTFOLIO BEGINS ===================== */
/* ============================================================= */

.portfolio_title {
    font-size: 4rem;
    margin: 4rem;
    color:#238383;
}
.portfolio {
    background-color: #080815;
    transition: all 0.4s ease-in;
}

.project_display {
    padding: 2rem;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project_container {
    background-color: #fff;
    border: dashed 1px #238383;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.project_info {
    padding: 1rem;
}
.project_info li {
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
}

.project_image_container {
    margin: auto;
}
.project_image_container > a > img, .project_image_container > img  {
    max-width: 100%;
    padding: 0.5rem;
}

.project_info_header {
    display: grid;
    grid-template-columns: 80% 20%;
}
.fa-github {

    padding: 1rem 0rem;
    font-size: 2rem;
}

/* ============================================================= */
/* ======================= PORTFOLIO ENDS ====================== */
/* ============================================================= */


/* ============================================================= */
/* ======================== CONTACT BEGINS ===================== */
/* ============================================================= */

#contact {
    height: 25vh;
}

.contact_container {
    padding: 5rem 0;
    width: 20%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}

.contact_container > div {
    text-align: center;
}

.contact_container > div > a > i {
    font-size: 5rem;
    padding: 0.5rem;
}

.contact_container > div > a > i:hover {
    color: #FF531B; 
}
/* ============================================================= */
/* ======================== CONTACT ENDS ======================= */
/* ============================================================= */



/* ============================================================= */
/* ========================== RESPONSIVE ======================= */
/* ============================================================= */

@media screen and (max-width: 400px) {


    .circle {
        animation: mymove 3s forwards;
        top: -5%;
    }

    .circle_open {
        transform: scale(0.4);
        transition: all 0.5s ease-out;
        top: -5%;
        float: left;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        right: -50%;
        z-index: 1001;
    }

    .circle_close {
        float: left;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        top: -5%;
        right: -70%;
        z-index: 1001;
        transform: scale(0.15);
        transition: all 0.5s ease-in;
    }

    @keyframes mymove {
        5% {transform: scale(0.5);
        opacity: 1;
        }
        10% {
            transform: scale(0.5);
        }
        12% {transform: scale(0.5);
        }
        35% {transform: scale(0.5);
        }
        100% {
            transform: scale(0.15);
            opacity: 1;
            right: -70%;
        }
    }
    /* ============================================================= */
    /* =================== WELCOME SCREEN BEGINS =================== */
    /* ============================================================= */

    .title {
        width: 90%;
    }

    .title h1 {
        font-size: 1.8rem;
    }
    
    .h2_container {
        display: grid;
        grid-template-columns: 90% 10%;
        width: 60%;
        margin: auto;
    }
    #home > div > div > div:nth-child(1) {
        text-align: right;
        font-size: 0.9rem;
    }
    
    #home > div > div > div:nth-child(1) > h2{
        margin: 0;
    }
    
    #home > div > div > div:nth-child(2){
        animation: blink 1s infinite;
        background-color: #FF531B;
        float: right;
        height: 1.75rem;
        width: 0.5rem;
    }
    /* ============================================================= */
    /* ==================== WELCOME SCREEN ENDS ==================== */
    /* ============================================================= */


    /* ============================================================= */
    /* ==================== ABOUT SCREEN BEGINS ==================== */
    /* ============================================================= */

    .description {

        font-size: 1rem;
        margin: 9rem auto 5rem;
        width: 70%;

    }
    
    .skills {
        font-size: 1rem;
        margin: 5rem auto 13rem;
        width: 70%;
        right: 0%;
    }

    /* ============================================================= */
    /* ===================== ABOUT SCREEN ENDS ===================== */
    /* ============================================================= */
    

    /* ============================================================= */
    /* ====================== PORTFOLIO BEGINS ===================== */
    /* ============================================================= */

    .professional_title {
        width: 60%;
    }

    .professional_title_selected {
        width: 60%;
    }
    .personal_title {
        width: 40%;
    }

    .personal_title_selected {
        width: 40%;
    }
    div.personal_title > h2, div.personal_title_selected > h2, div.professional_title > h2, div.professional_title_selected > h2 {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .project_display {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .project_container {

        display: block;
        width: 80%;
    }

    .project_image_container {
        margin: auto;
        text-align: center;
    }

    .project_image_container > a > img, .project_image_container > img {
        max-width: 90%;
        padding: 0.5rem;
    }

    .project_info > a > h2 {
        font-size: 1rem;
    }

    .project_info_header > div > a > h2 {
        font-size: 1rem;
    }

    .fa-github {

        padding: 1rem 0rem;
        font-size: 1rem;
    }

    .project_info > ul {
        color: #3a3a3a;
        font-size: 0.8
    }
    /* ============================================================= */
    /* ======================= PORTFOLIO ENDS ====================== */
    /* ============================================================= */

    /* ============================================================= */
    /* ======================== CONTACT BEGINS ===================== */
    /* ============================================================= */

    .contact_container {
        width: 60%;
    }
    /* ============================================================= */
    /* ======================== CONTACT ENDS ======================= */
    /* ============================================================= */

}

@media screen and (min-width: 401px) and (max-width: 486px) {


    .circle {
        animation: mymove 3s forwards;
        top: -5%;
    }

    .circle_open {
        transform: scale(0.4);
        transition: all 0.5s ease-out;
        top: -5%;
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        right: -45%;
        z-index: 1001;
    }

    .circle_close {
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        top: -5%;
        right: -45%;
        z-index: 1001;
        transform: scale(0.15);
        transition: all 0.5s ease-in;
    }

    @keyframes mymove {
        5% {transform: scale(0.5);
        opacity: 1;
        }
        10% {
            transform: scale(0.5);
        }
        12% {transform: scale(0.5);
        }
        35% {transform: scale(0.5);
        }
        100% {
            transform: scale(0.15);
            opacity: 1;
            right: -45%;
        }
    }
    /* ============================================================= */
    /* =================== WELCOME SCREEN BEGINS =================== */
    /* ============================================================= */

    .title {
        width: 90%;
    }

    .title h1 {
        font-size: 2rem;
    }   
    /* ============================================================= */
    /* ==================== WELCOME SCREEN ENDS ==================== */
    /* ============================================================= */


    /* ============================================================= */
    /* ==================== ABOUT SCREEN BEGINS ==================== */
    /* ============================================================= */

    .description {

        font-size: 1rem;
        margin: 9rem auto 5rem;
        width: 70%;

    }
    
    .skills {
        font-size: 1rem;
        margin: 5rem auto 13rem;
        width: 70%;
        right: 0%;
    }

    /* ============================================================= */
    /* ===================== ABOUT SCREEN ENDS ===================== */
    /* ============================================================= */
    

    /* ============================================================= */
    /* ====================== PORTFOLIO BEGINS ===================== */
    /* ============================================================= */

    .professional_title {
        width: 60%;
    }

    .professional_title_selected {
        width: 60%;
    }
    .personal_title {
        width: 40%;
    }

    .personal_title_selected {
        width: 40%;
    }
    div.personal_title > h2, div.personal_title_selected > h2, div.professional_title > h2, div.professional_title_selected > h2 {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .project_display {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .project_container {

        display: block;
        width: 80%;
    }

    .project_image_container {
        margin: auto;
        text-align: center;
    }

    .project_image_container > a > img, .project_image_container > img {
        max-width: 90%;
        padding: 0.5rem;
    }

    .project_info > a > h2 {
        font-size: 1rem;
    }

    .project_info_header > div > a > h2 {
        font-size: 1rem;
    }

    .fa-github {

        padding: 1rem 0rem;
        font-size: 1rem;
    }

    .project_info > ul {
        color: #3a3a3a;
        font-size: 0.8
    }
    /* ============================================================= */
    /* ======================= PORTFOLIO ENDS ====================== */
    /* ============================================================= */

    /* ============================================================= */
    /* ======================== CONTACT BEGINS ===================== */
    /* ============================================================= */

    .contact_container {
        width: 60%;
    }
    /* ============================================================= */
    /* ======================== CONTACT ENDS ======================= */
    /* ============================================================= */

}

@media screen and (min-width: 487px) and (max-width: 700px) {


    .circle {
        animation: mymove 3s forwards;
        top: -5%;
    }

    .circle_open {
        transform: scale(0.2);
        transition: all 0.5s ease-out;
        top: -5%;
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        right: -40%;
        z-index: 1001;
    }

    .circle_close {
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        top: -5%;
        right: -40%;
        z-index: 1001;
        transform: scale(0.15);
        transition: all 0.5s ease-in;
    }

    @keyframes mymove {
        5% {transform: scale(0.5);
        opacity: 1;
        }
        10% {
            transform: scale(0.5);
        }
        12% {transform: scale(0.5);
        }
        35% {transform: scale(0.5);
        }
        100% {
            transform: scale(0.15);
            opacity: 1;
            right: -40%;
        }
    }

    /* ============================================================= */
    /* =================== WELCOME SCREEN BEGINS =================== */
    /* ============================================================= */

    .title {
        width: 90%;
    }

    .title h1 {
        font-size: 2.5rem;
    }
    
    .h2_container {
        width: 75%;
        margin: auto;
    }
    /* ============================================================= */
    /* ==================== WELCOME SCREEN ENDS ==================== */
    /* ============================================================= */


    /* ============================================================= */
    /* ==================== ABOUT SCREEN BEGINS ==================== */
    /* ============================================================= */

    .description {

        font-size: 1rem;
        margin: 9rem auto 5rem;
        width: 70%;

    }
    
    .skills {
        font-size: 1rem;
        margin: 5rem auto 13rem;
        width: 70%;
        right: 0%;
    }

    /* ============================================================= */
    /* ===================== ABOUT SCREEN ENDS ===================== */
    /* ============================================================= */
    

    /* ============================================================= */
    /* ====================== PORTFOLIO BEGINS ===================== */
    /* ============================================================= */

    .portfolio_title {
        font-size: 3rem;
        margin: 1rem;
    }

    .projects_title {
        text-align: center;
    }

    .project_image_container {
        margin: auto;
        text-align: center;
    }

    .project_image_container > a > img, .project_image_container > img {
        max-width: 90%;
        padding: 0.5rem;
    }

    .project_info > a > h2 {
        font-size: 1rem;
    }

    .project_info_header > div > a > h2 {
        font-size: 1rem;
    }

    .fa-github {

        padding: 1rem 0rem;
        font-size: 1rem;
    }

    .project_info > ul {
        color: #3a3a3a;
        font-size: 0.8
    }
    /* ============================================================= */
    /* ======================= PORTFOLIO ENDS ====================== */
    /* ============================================================= */

    /* ============================================================= */
    /* ======================== CONTACT BEGINS ===================== */
    /* ============================================================= */

    .contact_container {
        width: 60%;
    }
    /* ============================================================= */
    /* ======================== CONTACT ENDS ======================= */
    /* ============================================================= */

}

@media screen and (min-width: 701px) and (max-width: 1024px) {


    .circle {
        animation: mymove 3s forwards;
        top: -5%;
    }

    .circle_open {
        transform: scale(0.2);
        transition: all 0.5s ease-out;
        top: -5%;
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        right: -27%;
        z-index: 1001;
    }

    .circle_close {
        float: right;
        margin: 2rem;
        opacity: 1;
        position: fixed;
        top: -5%;
        right: -27%;
        z-index: 1001;
        transform: scale(0.2);
        transition: all 0.5s ease-in;
    }

    @keyframes mymove {
        5% {transform: scale(0.5);
        opacity: 1;
        }
        10% {
            transform: scale(0.5);
        }
        12% {transform: scale(0.5);
        }
        35% {transform: scale(0.5);
        }
        100% {
            transform: scale(0.2);
            opacity: 1;
            right: -27%;
        }
    }

    /* ============================================================= */
    /* =================== WELCOME SCREEN BEGINS =================== */
    /* ============================================================= */

    .title {
        width: 90%;
    }

    .title h1 {
        font-size: 2.5rem;
    }
    /* ============================================================= */
    /* ==================== WELCOME SCREEN ENDS ==================== */
    /* ============================================================= */


    /* ============================================================= */
    /* ==================== ABOUT SCREEN BEGINS ==================== */
    /* ============================================================= */

    .description {

        font-size: 1rem;
        margin: 9rem auto 5rem;
        width: 70%;

    }
    
    .skills {
        font-size: 1rem;
        margin: 5rem auto 13rem;
        width: 70%;
        right: 0%;
    }

    /* ============================================================= */
    /* ===================== ABOUT SCREEN ENDS ===================== */
    /* ============================================================= */
    

    /* ============================================================= */
    /* ====================== PORTFOLIO BEGINS ===================== */
    /* ============================================================= */

    .professional_title {
        width: 65%;
    }

    .professional_title_selected {
        width: 65%;
    }
    .personal_title {
        width: 35%;
    }

    .personal_title_selected {
        width: 35%;
    }
    div.personal_title > h2, div.personal_title_selected > h2, div.professional_title > h2, div.professional_title_selected > h2 {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .project_display {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .project_container {

        display: block;
        width: 80%;
    }

    .project_image_container {
        margin: auto;
        text-align: center;
    }

    .project_image_container > a > img, .project_image_container > img  {
        max-width: 90%;
        padding: 0.5rem;
    }

    .project_info > a > h2 {
        font-size: 1.5rem;
    }

    .project_info_header > div > a > h2 {
        font-size: 1.5rem;
    }

    .fa-github {

        padding: 1.5rem 0rem;
        font-size: 1.5rem;
    }

    .project_info > ul {
        color: #3a3a3a;
        font-size: 0.8
    }
    /* ============================================================= */
    /* ======================= PORTFOLIO ENDS ====================== */
    /* ============================================================= */

    /* ============================================================= */
    /* ======================== CONTACT BEGINS ===================== */
    /* ============================================================= */

    .contact_container {
        width: 60%;
    }
    /* ============================================================= */
    /* ======================== CONTACT ENDS ======================= */
    /* ============================================================= */

}